html {
  font-size: 20px;
}
.text-size {
  font-size: 2rem;
}

body {
  font-family: "Arial", "Meiryo", sans-serif;
}
p {
  font-size: 20px;
}

.google-fonts {
  font-family: 'Josefin Sans', sans-serif;
}

.text-pink {
  color: rgb(255,192,203)
}
.text-skyblue {
  color: skyblue;
}
h1 {
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  font-size: 40px;
  border-bottom: solid 3px rgb(115,115,114);

}
body {
  text-align: center;
  font-size: 20px;
}

#basic > p {
  font-weight: bold;
}