h1 {
  margin: 0;
  color: rgb(255, 255, 255);
}
p {
  margin: 0;
  font-size: 20px;
}

p:nth-of-type(even)::first-letter {
  font-weight: bold; 
  color: rgb(97, 206, 249); 
} 

body {
  margin: 0;
}

header {
  margin: 0 0 20px;
  background-color: rgb(244, 79, 79);
  margin: 0 auto;
  text-align: center;
}
main {
  padding: 10px;
  margin: 0 auto;
}
#parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contents {
  border: solid rgb(238, 204, 204);
  padding: 10px 15px;
  margin: 20px 0;
  flex-basis: 25%;
  text-align: center;
}
.contents img {
  margin: 10px 0;
  width: 70%;
}
h2 {
  font-size: 25px;
  border-bottom: dotted 3px rgb(236, 122, 122);
}
h2::before {
  content: "â—";
  color: rgb(239, 111, 139);
}
footer {
  background-color: rgb(244, 79, 79);
  text-align: center;
}
footer > a {
  color: rgb(225, 225, 225);
}
footer > a:hover {
  color: rgb(245, 178, 168);
}
footer > a:visited {
  color: rgb(193, 234, 251);
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 25px;
  }
  #parent {
    display: flex;
    flex-direction: column;
  }
}
